<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  <p class='product'>
   <span><b>Name : </b><%= inhaal.name %></span><br/>
   <span><b>Exam : </b><%= inhaal.exam %></span><br/>
   <span><b>Description : </b><%= inhaal.description %></span><br/>

  </p>

  <form action='/delete' method='POST'>
    <span><input type='hidden' name='name' value='<%=inhaal.name%>'></span>
    <span><button type='submit'>Delete</button></span>
  </form>

</body>
</html>
