<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
<h2>Add a recpie </h2>

  <li>
    <h2>Name: <input type="text" name="name"><br></h2>
  </li>
  <li>
    <h2>Calories: <input type="text" name="calories"><br></h2>
  </li>
  <li>
    <h2>Ingredients: <input type="text" name="ingredients"><br></h2>
  </li>
  <li>
    <h2>Time: <input type="text" name="time"><br></h2>
  </li>

<button type="button" class="btn btn-info">add recipe</button>

<router-outlet></router-outlet>
